
.photos {
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;
    right: 0;
    perspective: 3000px;

    .presentation {
        margin-left: 4%;
        width: 50%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            // height: 100vh;
            margin: 500px 4%;
            text-align: left;
        }

        // li:nth-child(odd) {
        //     text-align: left;
        // }

        // li:nth-child(even) {
        //     text-align: right;
        // }
    }

    .photo {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate3d(-50%, -50%, 0);
        max-width: 100%;
        max-height: 90vh;
        width: auto;
        height: auto;
        box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.75);
        // border: 30px solid #cccccc;
        // transform-origin: center;
    }
}

.earth {
    position: fixed;
    z-index: -100;
    top: 0;
    right: 0;
}
