
.audio-progress-bg {
    stroke-width: 2px;
    stroke: rgb(121, 154, 175);
}

.audio-progress-pos {
    stroke-width: 6px;
    stroke: rgb(186, 250, 255);
    stroke-linecap: round;
    box-shadow: 0 0 10px 10px white;
}
