@import url('https://fonts.googleapis.com/css?family=Sarpanch:400,900&display=swap');

body {
    font-family: 'Sarpanch', Arial, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #070707; /*hsl(45, 30%, 0%);*/
    /* background: radial-gradient(circle, hsl(45, 0%, 15%) 0%, hsl(0, 0%, 5%) 80%) no-repeat; */
    /* background-attachment: fixed; */
    min-height: 100vh;
}

@supports (-webkit-overflow-scrolling: touch) {
    body {
        background-attachment: scroll;
    }
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

section {
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;
    right: 0;
}

.presentation {
    padding: 15px;
    margin: 100px 0 50px;
    text-align: left;
    line-height: 150%;
    border: 2px solid white;
}

.page-exit-active {
    opacity: 0;
    transform: translate3d(0, 50vh, 0);
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in;
}

.page-enter {
    opacity: 1;
    z-index: 50;
    transform: translate3d(0, -100vh, 0);
}

.page-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 1.5s ease-in-out, opacity 1s ease-out;
}
