.lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    z-index: -1;
}

.lines line {
    stroke: rgb(94, 94, 94);
    stroke-width: 1px;
    transition-property: stroke-dashoffset;
    transition-timing-function: linear;
}

.lines line.visible {
    stroke-dashoffset: 0;
}

.lines circle {
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
    stroke-opacity: 0;
    transition: stroke-opacity 1s ease-out;
}

.lines circle.visible {
    stroke-opacity: 1;
}
